@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


.cured-body {
  background-image: url(../media/sky1.jpg);
  object-fit: 'fill';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.cured-div{
text-align: center;
}

.you-are {
  text-align: center;
  font-family: 'Shadows Into Light';
  color: white;
  font-size: 2rem;
  padding-top: 25%;
  line-height: 0;
}

.landing-div{
  text-align: center;
    height: 140vh;
}

.cured{
  font-family: 'Shadows Into Light';
  color: white;
  font-size: 7rem;
  line-height: 7rem;
  text-shadow: 2px 2px 15px #feffb3;
  text-decoration: none;
  border-radius: 10px;

}

.landing-glow{
  font-family: 'Shadows Into Light';
  color: white;
  font-size: 7rem;
  line-height: 7rem;
  text-shadow: 2px 2px 95px #feffb3;
  text-decoration: none;
  border-radius: 10px;

}
